*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    height: 100%;
    font-size: 100%;
}
body {
    font-family: 'Open Sans';
    min-height: 100%;
}
.menu-bar {
    position: absolute;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    left: 0;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.menu-bar .menu-bar-header {
    display: inline-block;
    position: relative;
    top: 0.5rem;
    padding-left: 2rem;
}
.menu-bar .create-room-div {
    display: inline-block;
    padding: 2rem;
}
.menu-bar .menu-bar-nav {
    height: 80%;
    overflow-y: auto;
    top: 0.5rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.menu-bar .menu-bar-nav ul {
    list-style: none;
}
.menu-bar .menu-bar-nav .menu-bar-room {
    margin-bottom: 1rem;
}
.menu-bar .menu-bar-nav .menu-bar-room-link {
    cursor: pointer;
    font-size: 110%;
    text-decoration: none;
}
.chat-view {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    float: right;
    width: 75%;
}
.chat-view .active-room-header {
    display: table;
    position: relative;
    padding: 1.5rem;
    height: 15%;
}
.chat-view .logout-button {
    float: right;
    margin: 1rem;
    font-size: 150%;
}
.active-room-header .chat-view-header {
    display: table-cell;
    vertical-align: middle;
}
.chat-view .message-container {
    height: 75%;
    overflow-y: auto;
}
.message-container .chat-view-message {
    display: block;
    position: relative;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    overflow-x: auto;
}
.message-container .chat-view-message:nth-child(odd) {
    background-color: rgba(132, 112, 255, 0.2);
}
.chat-view-message .chat-message-time {
    float: right;
}
.chat-view-message .chat-message-content {
    display: block;
}
.send-new-message {
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
    border-top: 1px solid black;
}
.send-new-message .create-message {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 85%;
    resize: none;
    overflow: auto;
    border: none;
    font-size: 110%;
}
.send-new-message .create-message-submit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 15%;
    border-radius: 0;
    font-size: 150%;
}

@media (min-width: 640px) {
    html { font-size: 112%; }
}

@media (min-width: 1024px) {
    html { font-size: 120%; }
}

@media (max-width: 800px) {
    .send-new-message .create-message,
    .send-new-message .create-message-submit {
        font-size: 100%;
    }
}

@media (max-width: 640px) {
    .menu-bar {
        width: 40%;
    }

    .chat-view {
        width: 60%;
    }

    .menu-bar .create-room-div {
        display: block;
        position: relative;
        padding: 0.5rem;
        left: 10%;
    }

    .menu-bar .menu-bar-header {
        display: block;
        top: 0;
    }

    .send-new-message .create-message {
        width: 70%;
    }

    .send-new-message .create-message-submit {
        width: 30%;
    }
}

@media (max-width: 450px) {
    .chat-view-message .chat-message-user,
    .chat-view-message .chat-message-time,
    .chat-view-message .chat-message-content {
        display: block;
        float: none;
    }

    .chat-view .logout-button {
        font-size: 90%;
        margin: 0.5rem 0.5rem 0rem 0rem;
    }
}

@media (max-height: 770px) {
    .menu-bar .menu-bar-nav {
        height: 65%;
    }

    .chat-view .message-container {
        padding-bottom: 75px;
    }
}

@media (max-height: 450px) {
    .menu-bar .menu-bar-nav {
        height: 35%;
    }
}
