*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    height: 100%;
    font-size: 100%;
}
body {
    font-family: 'Open Sans';
    min-height: 100%;
}
.menu-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.menu-bar .menu-bar-header {
    position: relative;
    top: 0.5rem;
    padding-left: 2rem;
}
.menu-bar .menu-bar-nav {
    position: relative;
    top: 0.5rem;
    list-style: none;
}
.menu-bar .menu-bar-nav .menu-bar-room {
    margin-bottom: 1rem;
}
.menu-bar .menu-bar-nav .menu-bar-room-link {
    text-decoration: none;
}
