*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    height: 100%;
    font-size: 100%;
}
body {
    font-family: 'Open Sans';
    min-height: 100%;
}
.menu-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.menu-bar .menu-bar-header {
    display: inline-block;
    position: relative;
    top: 0.5rem;
    padding-left: 2rem;
}
.menu-bar .create-room-div {
    display: inline-block;
    padding: 2rem;
}
.menu-bar .menu-bar-nav {
    position: relative;
    top: 0.5rem;
    list-style: none;
}
.menu-bar .menu-bar-nav .menu-bar-room {
    margin-bottom: 1rem;
}
.menu-bar .menu-bar-nav .menu-bar-room-link {
    text-decoration: none;
}

@media (min-width: 640px) {
    html { font-size: 112%; }
}

@media (min-width: 1024px) {
    html { font-size: 120%; }
}

@media (max-width: 640px) {
    .menu-bar {
        width: 40%;
    }

    .menu-bar .create-room-div {
        display: block;
        position: relative;
        padding: 0.5rem;
        left: 10%;
    }

    .menu-bar .menu-bar-header {
        display: block;
        top: 0;
    }
}
