.modal-body {
    min-height: 150px;
    font-size: 1rem;
}
.modal-body .modal-room-input {
    position: relative;
    top: 1.5rem;
    left: 10%;
}
.modal-room-input .modal-body-label {
    cursor: pointer;
    display: block;
    font-weight: 400;
}
.modal-room-input .modal-body-text {
    display: block;
    width: 67%;
}
.modal-footer .modal-cancel,
.modal-footer .modal-submit {
    font-size: 1rem;
}
