<section class="menu-bar">
    <h1 class="menu-bar-header">Bloc Chat</h1>
    <div class="create-room-div">
        <button type="button" class="btn btn-primary" ng-click="home.openRoomModal()">New room</button>
    </div>
    <div class="menu-bar-nav">
        <ul>
            <li class="menu-bar-room" ng-repeat="room in home.rooms">
                <a class="menu-bar-room-link" id="{{ room.$id }}" ng-click="home.activeRoom = room; home.messages.getByRoomId(room.$id)">{{ room.name }}</a>
            </li>
        </ul>
    </div>
</section>
<main class="chat-view">
    <button type="button" class="logout-button btn btn-primary" ng-click="home.loginHandle.logout()">Log Out</button>
    <div class="active-room-header">
        <h3 class="chat-view-header">{{ home.activeRoom.name }}</h3>
    </div>
    <div class="message-container">
        <div class="chat-view-message" ng-repeat="message in home.messages.all">
            <span class="chat-message-user"><b>{{ message.username }}</b></span>
            <span class="chat-message-time"><i>{{ message.sentAt | date:'short' }}</i></span>
            <span class="chat-message-content">{{ message.content }}</span>
        </div>
    </div>
    <form ng-submit="home.newMessage()">
        <div class="send-new-message">
            <textarea maxlength="500" class="create-message" placeholder="Write your message here..." ng-model="home.typedMessage"></textarea>
            <button type="button" class="create-message-submit btn btn-primary" ng-click="home.newMessage()">Send</button>
        </div>
    </form>
</main>
