<main class="login-page">
    <div class="login-page-header">
        <h1 class="welcome-header">Welcome to Bloc Chat</h1>
    </div>
    <div class="login-register-select">
        <button type="button" class="login-button btn btn-primary">Log In</button>
        <button type="button" class="register-button btn btn-primary">Register</button>
    </div>
    <form ng-click="">
        <div class="login-form">
            <!-- login form here -->
        </div>
    </form>
    <form ng-click="">
        <div class="registration-form">
            <!-- registration form here -->
        </div>
    </form>
</main>
